pihole/etc-pihole
battery_research
plex/config/
audiobookshelf/config/
audiobookshelf/metadata/
transmission/config


home-automation/.*

# --------------------------------------
# Home Assistant
# --------------------------------------
home-automation/homeassistant/.storage/
home-automation/homeassistant/home-assistant*.db
home-automation/homeassistant/home-assistant*.log
home-automation/homeassistant/secrets.yaml
home-automation/homeassistant/.HA_VERSION
home-automation/homeassistant/.ha_run.lock
home-automation/homeassistant/blueprints/automation/homeassistant/motion_light.yaml
home-automation/homeassistant/blueprints/automation/homeassistant/notify_leaving_zone.yaml
home-automation/homeassistant/blueprints/script/homeassistant/confirmable_notification.yaml
home-automation/homeassistant/home-assistant.log.1
home-automation/homeassistant/home-assistant.log.fault
home-automation/homeassistant/home-assistant_v2.db-shm
home-automation/homeassistant/home-assistant_v2.db-wal
home-automation/homeassistant/scenes.yaml
home-automation/homeassistant/scripts.yaml

# Optional: cache / backup / runtime files
home-automation/homeassistant/*.db
home-automation/homeassistant/*.log

# --------------------------------------
# Zigbee2MQTT
# --------------------------------------
home-automation/zigbee2mqtt/data/database.db
home-automation/zigbee2mqtt/data/coordinator_backup.json
home-automation/zigbee2mqtt/data/log/
home-automation/zigbee2mqtt/data/*.log
home-automation/zigbee2mqtt/data/configuration_backup_v1.yaml
home-automation/zigbee2mqtt/data/configuration_backup_v2.yaml
home-automation/zigbee2mqtt/data/configuration_backup_v3.yaml
home-automation/zigbee2mqtt/data/configuration_backup_v4.yaml
home-automation/zigbee2mqtt/data/state.json

# --------------------------------------
# Mosquitto
# --------------------------------------
home-automation/mosquitto/log/
home-automation/mosquitto/data/

# --------------------------------------
# OS / Editor files
# --------------------------------------
*.swp
*.swo
*.DS_Store
*.pyc
*.pyo
*.pyd
__pycache__/

# --------------------------------------
# Other local runtime
# --------------------------------------
*.env
